<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759026462027-4t0c0lhcqkhtgtqktu28q1f0chf1kefn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759026462027-4t0c0lhcqkhtgtqktu28q1f0chf1kefn</string>
	<key>API_KEY</key>
	<string>AIzaSyDYwlquq5LB1OZ9MVILxfLaFq50A4fq-kM</string>
	<key>GCM_SENDER_ID</key>
	<string>759026462027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clarisa.example.TFM</string>
	<key>PROJECT_ID</key>
	<string>tfmapp-83a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>tfmapp-83a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759026462027:ios:d7facd5d8f70e750</string>
	<key>DATABASE_URL</key>
	<string>https://tfmapp-83a9c.firebaseio.com</string>
</dict>
</plist>